.main-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding: 10px;
    grid-row: 2;
  
}

#searchProduct{
    padding: 10px;
    width: 80%;
   
}